// variables:
$gray: rgba(0, 0, 0, 0.54);
$gray-hover: #5d5e5e;
$green: #03a87c;
$green-hover: #029e74;

$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
  @if $media == xs {
    @media (max-width: $breakpoint-xs) {
      @content;
    }
  } @else if $media == sm {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $media == md {
    @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
      @content;
    }
  } @else if $media == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}

body{
  padding: 0;
  @include media(md)  {
    padding: 0 400px;
  
  }
  @include media(sm){
    padding: 0 400px;
  }
}

.card-img-top-2{
  width: 350px;
}

.card-border{
  height:400px;
  width: 300px;
}

.nav-link {
  color: $gray;
  font-family: "Open Sans", sans-serif;

  &:hover {
    color: $gray-hover !important;
  }
}

.LogoM {
  width: 120px;

  img {
    width: 100%;
    display: none;
  }

  span {
    display: block;
  }

  @include media(lg) {
    img {
      display: block;
    }

    span {
      display: none;
    }
  }
}

.avatar {
  img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
}

.btn-upgrade {
  border: 1px solid #888888;

  &:hover {
    border: 1px solid black;
  }
}

.cursor-hand {
  &:hover {
    cursor: pointer;
  }
}

ul {
  padding: 0;
  display: flex;
  width: 100%;
  overflow: auto;
  justify-content: space-evenly;
  li {
    white-space: nowrap;
    width: auto;
    list-style: none;
    margin: 0 10px;
    color: $gray;
    &:hover {
      cursor: pointer;
      color: $gray-hover;
    }
  }
}

.btn-learn {
  background-color: $green;
  color: #fff;
  &:hover {
    background-color: $green-hover;
    color: #fff;
  }
}

.anchor {
  font-size: 0.8rem;
  a {
    color: black;
  }
}

.card-order {
  display: flex;
  .b {
    order: 2;
    padding: 5px;
  }
  .a {
    order: 1;
  @include media(md) {
      .b {
        order: 1;
        padding: 5px;
      }
      .a {
        order: 2;
      }
    }
  }


  @include media(lg) {
    .b {
      order: 1;
      padding: 5px;
    }
    .a {
      order: 2;
    }
  }
}

.card-img-top {
  height: 150px;
}

.see-editors {
  color: $green;
}
.text-aside {
  font-size: 0.8rem;
}

.popular-on-med {
  margin-top: 25px;
  @include media(md) {
    margin-top: 0;
  }
}

svg{
  fill: $gray;
  &:hover{
    cursor: pointer;
    color: $gray-hover;
  }
}

#imag-xl{
  height: 150px;
  width: 350px;
}

.network-color{
  background-color:#D7EFEE;
  padding: 10px;
  h5{
    font-family: 'Noto Sans', sans-serif;
  } 
  img{
    width: 40%;
  
  
  }
}

.network-content-color{
  background-color: #fafafa;
  padding: 40px; 
  font-family: "Noto Sans JP", sans-serif;

}

.nav-fixed{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1000;

}

