body {
  padding: 0;
}

@media (min-width: 1023px) and (max-width: 1360px) {
  body {
    padding: 0 400px;
  }
}

@media (min-width: 767px) and (max-width: 1023px) {
  body {
    padding: 0 400px;
  }
}

.card-img-top-2 {
  width: 350px;
}

.card-border {
  height: 400px;
  width: 300px;
}

.nav-link {
  color: rgba(0, 0, 0, 0.54);
  font-family: "Open Sans", sans-serif;
}

.nav-link:hover {
  color: #5d5e5e !important;
}

.LogoM {
  width: 120px;
}

.LogoM img {
  width: 100%;
  display: none;
}

.LogoM span {
  display: block;
}

@media (min-width: 1360px) {
  .LogoM img {
    display: block;
  }
  .LogoM span {
    display: none;
  }
}

.avatar img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.btn-upgrade {
  border: 1px solid #888888;
}

.btn-upgrade:hover {
  border: 1px solid black;
}

.cursor-hand:hover {
  cursor: pointer;
}

ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul li {
  white-space: nowrap;
  width: auto;
  list-style: none;
  margin: 0 10px;
  color: rgba(0, 0, 0, 0.54);
}

ul li:hover {
  cursor: pointer;
  color: #5d5e5e;
}

.btn-learn {
  background-color: #03a87c;
  color: #fff;
}

.btn-learn:hover {
  background-color: #029e74;
  color: #fff;
}

.anchor {
  font-size: 0.8rem;
}

.anchor a {
  color: black;
}

.card-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-order .b {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 5px;
}

.card-order .a {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 1023px) and (max-width: 1360px) {
  .card-order .a .b {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 5px;
  }
  .card-order .a .a {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 1360px) {
  .card-order .b {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 5px;
  }
  .card-order .a {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.card-img-top {
  height: 150px;
}

.see-editors {
  color: #03a87c;
}

.text-aside {
  font-size: 0.8rem;
}

.popular-on-med {
  margin-top: 25px;
}

@media (min-width: 1023px) and (max-width: 1360px) {
  .popular-on-med {
    margin-top: 0;
  }
}

svg {
  fill: rgba(0, 0, 0, 0.54);
}

svg:hover {
  cursor: pointer;
  color: #5d5e5e;
}

#imag-xl {
  height: 150px;
  width: 350px;
}

.network-color {
  background-color: #D7EFEE;
  padding: 10px;
}

.network-color h5 {
  font-family: 'Noto Sans', sans-serif;
}

.network-color img {
  width: 40%;
}

.network-content-color {
  background-color: #fafafa;
  padding: 40px;
  font-family: "Noto Sans JP", sans-serif;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
}
/*# sourceMappingURL=style.css.map */